
.description {
    margin-top: 525px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);

    & p{
        padding: 30px 100px;
        text-align: center;
        font-size: 1.3em;
        color: white;
    }
}