@import 'variables';
@import 'header';
@import 'parallax';
@import 'description';
@import 'menuItems';
@import 'footer';
@import 'contact';
@import 'contactMessage';



.app {
    height: 100vh;
    width: 100vw;

    &__parallax {
    background-image: url(../../static/assets/images/paralax.jpg);
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:750px;
    }
}